@import "../../styles/abstracts/variables.scss";

.card-box-lista {
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
    box-sizing: border-box;

    .card-lista {
        margin: 10px;
        border-radius: 18px;
        padding: 10px;
        background-color: $main-blue;
        margin-bottom: 25px;
        width: 30%;
        .img-pokemon {
            width: 50px;
            padding: 5px;
            border-radius: 50%;
            background-color: $grey;
            margin: 10px 0;
            &:not(:first-child) {
                margin-left: -20px;
            }
        }
        .content-lista {
            color: $white;
        }
        .created {
            font-size: 12px;
        }
        .length {
            font-size: 17px;
        }
        h3 {
            color: $main-yellow;
        }
    }
}
